!/vendor/laravel/framework/src/Illuminate/Routing/Router.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/img/company/*
!/vendor/laravel/framework/src/Illuminate/Routing/Router.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
